---
import { FaSolidChevronUp } from "solid-icons/fa";
import logo from "../assets/logo.png";
import ScrollToTop from "../components/ScrollToTop";

const links: [string, string][] = [
  ["Home", "/"],
  ["About", "/about"],
];

const { scrollToTop = false } = Astro.props as { scrollToTop: boolean };
---

<header
  class="header flex flex-row justify-between items-center w-full h-[100px] px-3 xs:px-9 lg:px-27 xl:px-36 bg-white"
>
  {" "}
  <div class="flex flex-row items-center">
    <img src={logo.src} alt="Logo" class="logo h-15 w-15" />
    <h1 class="px-4 text-2xl">Weathers</h1>{" "}
  </div>
  <div class="flex items-center">
    <ul>
      {
        links.map((item) => (
          <a class="px-4 hover:underline" href={item[1]}>
            {item[0]}
          </a>
        ))
      }
    </ul>
    {
      scrollToTop && (
        <div id="scroll-to-top" class="ml-4">
          <ScrollToTop client:only="solid-js" />
        </div>
      )
    }
  </div>
</header>
