---
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";
import { Header } from "./Header";
import { Footer } from "./Footer";
---

<!doctype html>
<html lang="en">
  <head>
    <ClientRouter />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro Basics</title>
  </head>
  <body class="min-h-screen flex flex-col justify-between">
    <Header />
    <div class="h-[300px] flex justify-center items-center">
      <slot />
    </div>
    <Footer />
  </body>
</html>
